th, td {
    border: 1px solid black;
  }

.showoff{
  display: none;
}

.showon{
  display: block;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100px;
  perspective: 1000px;
}

.flip-card-after {
  background-color: transparent;
  width: 100%;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-inner-after {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateX(180deg);
}

.vanish:hover{
  opacity: 0.9;
}

.vanish {
  opacity: 0;
}

.transleft{
  transition: transform 0.5s;
  transform: translateX(0px);
}

.transrigth{
  transition: transform 0.5s;
  transform: translateX(350px);
  
}